html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.darken-bg {
  backdrop-filter: invert(5%);
}

#mob-theme-btns, #mob-menu-btn {
  display: none;
}
@media screen and (max-width: 680px) {
  #mob-theme-btns, #mob-menu-btn {
    display: inline;
  }
  #theme-btn {
    display: none;
  }
  #nav-links {
    position: absolute;
    z-index: 3;
    right: .25rem;
    top: 4rem;
    flex-direction: column;
    backdrop-filter: blur(50px) !important;
    align-items: flex-start;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    width: auto;
    min-width: 170px;
    will-change: scale, transform;
    transform-origin: top right;
    transform: scale(0);
    transition: 200ms ease;
  }
}

.open-menu {
  transform: scale(1) !important;
}

.cont {
  max-width: 1080px;
  margin: 0 auto;
}

#nav {
  padding: 0 calc((100vw - 1080px) / 2);
  position: fixed;
  z-index: 5;
}

.rounded {
  border-radius: .3rem;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .xs-center {
    text-align: center;
  }
}

#landing-div {
  background: linear-gradient(120deg, transparent 50%, #fff3e0 50%);
}

@media screen and (max-width: 800px) {
  .md-center {
    text-align: center;
  }
  #landing-div {
    background: linear-gradient(120deg, transparent 75%, #fff3e0 25%);
  }
}

.coffee-product-card{
  will-change: transform;
  transition: 200ms ease;
  backdrop-filter: invert(5%);
}

@media screen and (min-width: 800px)  {
  .coffee-product-card:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 12px 24px -12px rgba(0, 0, 0, .5);
    backdrop-filter: none;
  }
}

#about-page-video {
  width: 100%;
  border-radius: .5rem;
  box-shadow: 0 24px 24px -8px rgba(107, 71, 12, 0.5);
}

#slider-images {
  will-change: transform;
  animation: slide 70s infinite;
  animation-delay: 1s;
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(-60%); }
  100% { transform: translateX(0); }
}